
body {
  background-color: #00b3e6;
}

class.div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue";
  background: white;
  padding: 30px;
}

class.main-header {
  font-size: 22px;
  color: red;
}


class.perspective-questions {
 font-style: italic;
}
